body {
    background-image:  url('https://c.files.bbci.co.uk/assets/57aeacfd-fff6-490f-b390-0509407dd861');
}

Div {
    border: solid black 1px;
}
.container {
    text-align: center;
    color: black;
    background-color: bisque;

}